/******** HOME PAGE*********/
#home-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

#home-xs {
    .eve-panel {
        margin-bottom: 0px;
    }
}


.eve-panel .panel-body  {
    font-size: 25px;
    color: white;
    padding: 10px;
}

.nvd3 .nv-axis text { fill: white }

/***************************/