<div class="panel panel-default eve-panel">
    <div ng-if="title" class="panel-heading">
        <h2 ng-if='!hasTitleLink'>{{title}}</h2>
        <h2 ng-if='hasTitleLink' ng-click="clickOnTitle()">
            <i class="fa fa-caret-left"></i>&nbsp;
            <span class="eve-panel-heading-link">{{title}}</span>
        </h2>
        <div class="btn-group pull-right">
            <a href="#" ng-if="collapsable && collapsed" ng-click="uncollapse($event)" class="btn btn-default btn-toolbar"><i class="fa fa-caret-down"></i></a>
            <a href="#" ng-if="collapsable && !collapsed" ng-click="collapse($event)" class="btn btn-default btn-toolbar"><i class="fa fa-caret-up"></i></a>
            <a href="#" ng-if="refreshable" ng-click="refreshPanel($event)" class="btn btn-default btn-toolbar"><i class="fa fa-refresh"></i></a>
        </div>
    </div>
    <div ng-if="!collapsed" class="panel-body" data-ng-transclude></div>
</div>