<div>

    <div data-settings-menu class="hidden-xs"></div>

    <!--Smartphone display -->
    <div ng-if="mobileDisplay" id="home-xs" class="visible-xs-block">
        <div class="temperature-panel" 
             data-eve-panel 
             data-refreshable="true" 
             data-refresh="refreshTemperature()" 
             data-title="{{'TEMPERATURE' | translate}}">
            <p><i class="wi wi-thermometer"></i> {{temperature | customNumber : 2}} °C</p>
        </div>
        <div class="luminance-panel" 
             data-eve-panel 
             data-refreshable="true" 
             data-refresh="refreshLuminance()" 
             data-title="{{'LUMINANCE' | translate}}">
            <p><i class="wi wi-day-sunny"></i> {{luminance | customNumber : 0}} %</p>
        </div>
        <div class="doorstatus-panel" 
             data-eve-panel 
             data-refreshable="true" 
             data-refresh="refreshDoorStatus()"
             data-title="{{'DOOR_STATUS' | translate}}">
            <p ng-if="(doorStatus == 'CLOSED')"><i class="fa fa-lock"></i> {{doorStatus | translate}}</p>
            <p ng-if="(doorStatus == 'OPENED')"><i class="fa fa-unlock"></i> {{doorStatus | translate}}</p>
            <p ng-if="(doorStatus == 'UNDEFINED')"><i class="fa fa-question"></i> {{doorStatus | translate}}</p>
        </div>
    </div>

    <!--Tablet/screen display -->
    <div ng-if="tabletDisplay || desktopDisplay" class="container hidden-xs">
        <div id="home-row" class="row row-content">
            <div class="col-sm-3">
                <div class="temperature-panel" 
                     data-eve-panel 
                     data-refreshable="true" 
                     data-refresh="refreshTemperature()" 
                     data-title="{{'TEMPERATURE' | translate}}">
                    <p><i class="wi wi-thermometer"></i> {{temperature | customNumber : 2}} °C</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="luminance-panel" 
                     data-eve-panel 
                     data-refreshable="true" 
                     data-refresh="refreshLuminance()" 
                     data-title="{{'LUMINANCE' | translate}}">
                    <p><i class="wi wi-day-sunny"></i> {{luminance | customNumber : 0}} %</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="doorstatus-panel" 
                     data-eve-panel 
                     data-refreshable="true" 
                     data-refresh="refreshDoorStatus()"
                     data-title="{{'DOOR_STATUS' | translate}}">
                    <p ng-if="(doorStatus == 'CLOSED')"><i class="fa fa-lock"></i> {{doorStatus | translate}}</p>
                    <p ng-if="(doorStatus == 'OPENED')"><i class="fa fa-unlock"></i> {{doorStatus | translate}}</p>
                    <p ng-if="(doorStatus == 'UNDEFINED')"><i class="fa fa-question"></i> {{doorStatus | translate}}</p>
                </div>
            </div>
        </div>
        <div id="home-row" class="row row-content">
            <div class="col-sm-12">
                <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
            </div>
        </div>
    </div>

</div>