<div>

    <nav id="top-menu" class="navbar navbar-default navbar-static-top">
        <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/app/home" class="navbar-brand title">Eve</a>
            </div>
            <p ng-if="isLoggedIn()" class="navbar-text navbar-right">Signed in as {{currentUser.username || "Undefined"}}.&nbsp;<a ng-click="logout()" href class="navbar-link">Logout</a></p>
        </div>
    </nav>
    <div ui-view="pageContent"></div>

</div>

