<form class="login-form">
    <div class="login-form-message">{{message || '&nbsp;'}}</div>
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
        <input class="form-control login-form-field-input login-form-username" type="text" placeholder="Login" ng-model="user.username" required>
    </div>
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-lock fa-fw"></i></div>
        <input ng-keyup="$event.keyCode == 13 && login()" class="form-control login-form-field-input login-form-password" type="password" placeholder="Password" ng-model="user.password" required>
    </div>
    <!--<div class="login-form-checkbox">
        <i class="fa fa-square-o" ng-if="!rememberMeSelected" ng-click="rememberMeSelect()"></i>
        <i class="fa fa-check-square-o" ng-if="rememberMeSelected" ng-click="rememberMeUnselect()"></i>
        Remember Me
    </div>-->
    <div class="login-form-button">
        <a class="btn btn-primary btn-block login-form-button-link" ng-click="login()" >Login</a>
    </div>
</form>