$eve_website_menu_item_header:      #FB6240;

$worldline_blue:                    #0066A1;
$worldline_blue2:                   #3496D0;
$worldline_blue3:                   #5EA5D0;
$worldline_blue4:                   #004269;
$worldline_blue5:                   #1E5779;
$worldline_black:                   #000000;
$worldline_secondary_1:             #00B2A9;
$worldline_secondary_2:             #A626AA;
$worldline_secondary_3:             #6639B7;
$worldline_secondary_4:             #AEA400;
$worldline_secondary_5:             #FF6319;
$worldline_secondary_6:             #808080;
$worldline_light_grey:              #d6d6d6;
$worldline_dark_grey:               #4C4F53;

$boursorama_red:                   #d20073;
$boursorama_blue:                  #003883;
$boursorama_grey:                  #f1f1f1;
$boursorama_border_color:          rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.15);


$eve_global_opacity:                1;
$eve_opacity_level_1:               1;

