.login-form-message {
    font-size: 14px;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

/******** LOGIN FORM **********/
.login-form {

    .input-group {

        width: 95%;
        margin: auto;
        margin-top: 20px;
        color: $eve_login_form_input_color;
        font-size: 18px;

        .input-group-addon {
            font-size: 18px;
            border-radius: 0;
            margin-top: 10px;
            color: $eve_login_form_input_color;
            @if $eve_login_form_is_colored {
                background-color: $eve_login_form_input_background_color;    
            }
            @else {
                @if $eve_login_form_is_transparent {
                    background: rgba(0,0,0, $eve_login_form_transparency_level);
                }
            }
        }

        .login-form-field-input {
            color: $eve_login_form_input_color;
            @if $eve_login_form_is_colored {
                background-color: $eve_login_form_input_background_color;    
            }
            @else {
                @if $eve_login_form_is_transparent {
                    background: rgba(0,0,0, $eve_login_form_transparency_level);
                }
            }

            border-radius: 0;
            padding-left: 5px;

            @include placeholder {
                text-transform: uppercase;
            } 

        }
    }

    .login-form-checkbox {
        margin: auto;
        margin-top: 10px;
        color: $eve_login_form_input_color;
        font-size: 14px;    
    }

    .login-form-button {
        text-align: center;
        margin:     auto;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 95%;

        .login-form-button-link {
            width: 100%;
            @if $eve_login_form_is_colored {
                background-color: $eve_login_form_button_background_color;    
            }
            @else {
                @if $eve_login_form_is_transparent {
                    background: rgba(255,255,255, $eve_login_form_button_transparency_level);
                }
            }

            color: $eve_login_form_button_color;
            border-color: $eve_login_form_button_border_color;
            text-transform: uppercase;

            &:hover {
                @if $eve_login_form_is_colored {
                    background-color: $eve_login_form_button_hover_background_color;
                    color: $eve_login_form_button_hover_color;    
                }
                @else {
                    @if $eve_login_form_is_transparent {
                        background: rgba(0,0,0, $eve_login_form_button_hover_transparency_level);
                    }
                }        
            }

        }



    }

}

/*****************************/